*{margin: 0;
padding: 0;}

/* общий блок сайта для минимализации заполнения стилями body */
.fon {
	display: block;
    width: 100%;
    height: 100%;
    background-color: #f9f9f9;	
}
/* общий блок сайта для минимализации заполнения стилями body */
/* белый фон страницы сайта */
.osnova{
	display: block;
    height: auto;
    background-color: #ffffff;
    margin-left: 10%;
    margin-right: 10%;
	box-shadow: 0 0 10px;
}
/* белый фон страницы сайта */
/* заглавие магазина */
.shapka {
    display: block;
    width: 700px;
    height: 90px;
    padding-top: 60px;
    padding-left: 10%;
    padding-bottom: 30px;
}

.shapka h1 {
	display: block;      
	font-size: 3em;
	font-weight: 500;
}
/* заглавие магазина */
/* верхнее меню */
.osnovnaia_navigacia {
	display: block;
	width: 90%;
    height: 41px;
	background-color: #535252;
	margin: auto;
}

.osnovnaia_navigacia ul.hr li {
    display: inline-block; /* Отображать как строчный элемент */
    margin-right: 20px;
}

.osnovnaia_navigacia .ne_activ a:link{
   color: #ffffff;
   font-size: 20px;
   display: block; /* Блочный элемент */
   padding: 9px 36px; /* Поля вокруг текста */
   text-decoration: none; /* Убираем подчёркивание */
}
.osnovnaia_navigacia li.ne_activ  a:hover {
   background: #333;
   border-right: 1px solid rgba(249, 247, 247, 0.57);
   border-left: 1px  solid rgba(249, 247, 247, 0.57);
}
.osnovnaia_navigacia a:visited {
   color: #ffffff;
   font-size: 20px;
   display: block; /* Блочный элемент */
   padding: 9px 36px; /* Поля вокруг текста */
   text-decoration: none; /* Убираем подчёркивание */
   }
.osnovnaia_navigacia a:active {
   color: #ffffff;
   font-size: 20px;
   display: block; /* Блочный элемент */
   padding: 9px 36px; /* Поля вокруг текста */
   text-decoration: none; /* Убираем подчёркивание */
}
.osnovnaia_navigacia .activ  a:link {
   color: #ffffff;
   font-size: 20px;
   display: block; /* Блочный элемент */
   padding: 9px 36px; /* Поля вокруг текста */
   text-decoration: none; /* Убираем подчёркивание */
}
.osnovnaia_navigacia .activ  a:hover {
   color: #ffffff;
   font-size: 20px;
   display: block; /* Блочный элемент */
   padding: 9px 36px; /* Поля вокруг текста */
   text-decoration: none; /* Убираем подчёркивание */
}
/* верхнее меню */
/* боковое меню */
.bokovaia_navigacia {
	
    margin-left: 5%;
}
.nav {

	margin: 30px 0;
    list-style-type: none;
    width: 26%;
    float: left;
   
}
.nav li {
	background: #ffffff; /* Цвет фона */
    border-left: 10px;
    border-bottom: 1px solid rgba(158, 158, 158, 0.35);
	border-right: 1px solid rgba(158, 158, 158, 0.35);
    border-left: 1px solid rgba(158, 158, 158, 0.35);
}
.nav li.pervaia_stroka{
	background: #ffffff; /* Цвет фона */
    border-left: 10px;
    border-top:  1px solid rgba(158, 158, 158, 0.35);
	border-left: 1px solid rgba(158, 158, 158, 0.35);
}
.nav li a {
	color: rgb(167, 161, 161);
    background-color: #ffffff;
   
    padding: 10px;
    text-decoration: none;
  
    border-left: 5px;
    display: block;
}
.nav  li a:hover {
	color: #000000;
	padding-left: 18px;
	background-color: rgb(248, 248, 248);
}
/* боковое меню */
/* картинка над текстом */
.blok_kontent {
	width: 70%;
    float: left;
   
} 
.foto{
	width: 100%;
	margin: 25px 20px;
}


/* картинка над текстом */
/* текст */
.blok_kontent p {
	width: 84%;
    margin: 0px 0px 0px 50px;
}
/* текст */
.clear {
    clear: both;
}
/* футер */
.footer {
	padding-top: 80px;
	padding-bottom: 80px;
   
}

/* футер меню */
.footer_nav {
	display: block;
    width: 90%;
    height: 40px;
    margin: auto;
    background-color: #e1e1e1;
}
.footer_nav span {
	margin: 10px 30px;
	float: right;
}



.nav_footer{
	float: left;
}
.nav_footer li {
    display: inline-block;
    margin-right: 20px;
}
ul.nav_footer li  a{
    display: block;
    padding: 9px 36px;
	text-decoration: none;
}
.nav_footer a{
    color: #000000;
	text-decoration: none;
}
.nav_footer  a:active {
	color: #000000;
}
ul.nav_footer  a.aktiv  {
	color: #000000;
	text-decoration: underline;
}
.nav_footer a:visited {
	color: #000000;
	text-decoration: none;
}
ul.nav_footer  a:hover {
	color: #000000;
	text-decoration: underline;
}
/* футер меню */
/* футер */