body {
    margin:0; 
}
/* общий блок сайта для минимализации заполнения стилями body */
.fon {
	display: block;
    width: 100%;
    height: 100%;
    background-color: #f9f9f9;
	position: absolute;
}
/* общий блок сайта для минимализации заполнения стилями body */
/* белый фон страницы сайта */
.osnova{
	display: block;
    height: auto;
    background-color: #ffffff;
    margin-left: 10%;
    margin-right: 10%;
	box-shadow: 0 0 10px;
}
/* белый фон страницы сайта */
/* заглавие магазина */
.shapka {
	display: block;
	width: 700px;
    height: 90px;
	padding-top: 10px;
    padding-left: 5%;
    padding-bottom: 30px;
}

.shapka h1 {
	display: block;      
	font-size: 3em;
	font-weight: 500;
}
/* заглавие магазина */
/* верхнее меню */
.osnovnaia_navigacia {
	display: block;
	 width: 90%;
    height: 41px;
	background-color: #535252;
	margin: auto;
}
.osnovnaia_navigacia ul.hr {
    position: relative;
    left: -39px;
}
.osnovnaia_navigacia ul.hr li {
    display: inline-block; /* Отображать как строчный элемент */
   margin-right: 20px;
}
/*.osnovnaia_navigacia ul.hr li  a{
	color: #ffffff;
}*/
.osnovnaia_navigacia a {
   color: #ffffff;
   font-size: 20px;
   display: block; /* Блочный элемент */
   padding: 9px 36px; /* Поля вокруг текста */
   text-decoration: none; /* Убираем подчёркивание */
}
.osnovnaia_navigacia ul.hr li  a:hover {
	background: #333;
}
.osnovnaia_navigacia  a:active {
   color: #ffffff;
   font-size: 20px;
   background: #333;
}
.osnovnaia_navigacia  a.aktiv {
   color: #ffffff;
   font-size: 20px;
   background: #333;
   border-right: 1px solid rgba(249, 247, 247, 0.57);
   border-left: 1px  solid rgba(249, 247, 247, 0.57);
}
/* верхнее меню */
/* боковое меню */
.bokovaia_navigacia {
	width: 350px;
}
.nav {
	position: absolute;
    padding-left: 4%;
	margin: 3px 0;
    list-style-type: none;
    width: 22%;
}
.nav li {
	background: #ffffff; /* Цвет фона */
    border-left: 10px;
    border-bottom: 1px solid rgba(158, 158, 158, 0.35);
	border-right: 1px solid rgba(158, 158, 158, 0.35);
    border-left: 1px solid rgba(158, 158, 158, 0.35);
}
.nav li.pervaia_stroka{
	background: #ffffff; /* Цвет фона */
    border-left: 10px;
    border-top: 1px solid rgba(158, 158, 158, 0.35);
    border-right: 1px solid rgba(158, 158, 158, 0.35);
    border-left: 1px solid rgba(158, 158, 158, 0.35);
}
.nav li.aktiv_stroka{
	background-color: rgba(204, 204, 204, 0.15);
}
.nav li a {
	color: rgb(167, 161, 161);
    background-color: #ffffff;
    margin-left: 10px;
    padding: 10px;
    text-decoration: none;
  
  border-left: 5px;
  display: block;
}
.nav  li a:hover {
	margin-left: 18px;
}
.nav li a.aktiv_menu {
	color: #000000;
	margin-left: 18px;
	background-color: rgb(248, 248, 248);
}

/* боковое меню */
/* картинка над текстом */
 .foto {
          width: 70vw;
    position: relative;
    right: 5%;
    left: 20%;
	margin-top: 38px;
   
}
        }
        .foto > div {
          width: 100vw;
         margin-left: -100%;
        }
        .foto img {
          display: block;
          max-width: 70%;
          height: auto;
          margin: 0 auto;
        }
      
/* картинка над текстом */
/* текст */
@media (max-width:768px){
.blok_kontent p {
    width: 56%;
    position: relative;
    left: 37%;
}
}
@media (max-width:1440px){
.blok_kontent p {
    width: 50%;
    position: relative;
    left: 37%;
}
}
@media (max-width:1600px){
.blok_kontent p {
    width: 40%;
    position: relative;
    left: 47%;
}
}
@media (max-width:1920px){
.blok_kontent p {
    width: 43%;
    position: relative;
    left: 43%;
}
}
/* текст */
/* футер */
.footer {
	padding-bottom: 80px;
}
.footer_nav span {
	position: absolute;
    right: 17%;
    margin-top: -41px;
}
/* футер меню */
.footer_nav {
	display: block;
    width: 90%;
    height: 40px;
    margin: auto;
    background-color: #e1e1e1;
}

.nav_footer {
	position: relative;
    left: -39px;
}
.nav_footer li {
    display: inline-block;
    margin-right: 20px;
}
ul.nav_footer li  a{
    display: block;
    padding: 9px 36px;
	text-decoration: none;
}
.nav_footer a{
    color: #000000;
	text-decoration: none;
}
.nav_footer  a:active {
	color: #000000;
}
ul.nav_footer  a.aktiv  {
	color: #000000;
	text-decoration: underline;
}
.nav_footer a:visited {
	color: #000000;
	text-decoration: none;
}
ul.nav_footer  a:hover {
	color: #000000;
	text-decoration: underline;
}
/* футер меню */
/* футер */